@import "tailwindcss";

body {
  background: radial-gradient(circle at center, #4C034C 0%, #0A021F 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;

  background-size: cover;
  color: #E4E1EC;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.meteor-shower {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.meteor {
  position: absolute;
  width: 3px;
  height: 40px;
  background: linear-gradient(70deg, rgb(255, 255, 255), rgba(74, 12, 156, 0.425));
  opacity: 0;
  transform: rotate(-50deg);
  animation: meteor-fall linear infinite;
}

@keyframes meteor-fall {
  0% {
    transform: translateX(100px) translateY(100px) rotate(70deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-800px) translateY(800px) rotate(70deg);
    opacity: 0;
  }
}